// Abstract
@import './scss/abstract/main';

* {
  font-family: 'Roboto', sans-serif;
  color: $color-black-text;
}

body {
  overflow-x: hidden;
  background-color: $color-body-background;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .container {
    @media (min-width: 1200px) {
      max-width: 1350px;
    }
  }

  .text-dark {
    color: #3e4b5b !important;
  }

  .text-blue {
    color: $color-blue;
  }

  .text-green {
    color: $color-green;
  }

  .text-red {
    color: $color-red;
  }

  .text-orange {
    color: $color-orange;
  }

  .text-gray {
    color: $color-gray;
  }

  .bg-blue {
    background-color: $color-blue;
  }

  .bg-green {
    background-color: $color-green;
  }

  .bg-red {
    background-color: $color-red;
  }

  .bg-orange {
    background-color: $color-orange;
  }

  .border-blue {
    border-color: $color-blue !important;
  }

  .border-green {
    border-color: $color-green !important;
  }

  .border-red {
    border-color: $color-red !important;
  }

  .border-orange {
    border-color: $color-orange !important;
  }
}

/*
* BREADCRUMBS SECTION
*/

/*
* START OF NEW PROJECT - 12/06/2020
*/

.rr-btn {
  padding: 12px 20px;
  border: 1px solid $color-blue;
  border-radius: 4px;
  font-size: 16px;
  font-weight: normal;
  color: $color-blue;
  transition: 300ms filter;

  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease,
    box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;

  &:not(.outline):hover {
    filter: brightness(120%);
    transition: 300ms filter;
  }

  &.disabled:not(.outline) {
    pointer-events: none;
    background-color: #a2a9be !important;
    border-color: #a2a9be !important;
    color: white;
  }

  &.outline {
    background-color: transparent;

    &:hover {
      background-color: #eee;
    }

    &.disabled {
      pointer-events: none;
      color: #a2a9be !important;
      border: 1px solid #a2a9be !important;
    }

    &.dark {
      border-color: $color-dark-gray;
      color: $color-dark-gray;
    }

    &.dark-purple {
      border-color: $color-dark-purple;
      color: $color-dark-purple;
    }

    &.blue {
      color: $color-blue;
      color: $color-blue;
    }
  }

  &:not(.outline) {
    &.transparent {
      background-color: transparent !important;
      border-color: transparent !important;
    }

    &.dark {
      color: white;
      background-color: $color-dark-gray;
    }

    &.blue {
      color: white;
      background-color: $color-blue;
    }
  }

  &.bold {
    font-weight: bold;
  }

  &.medium {
    font-weight: 500;
  }

  &.min-width-170 {
    min-width: 170px;
  }

  &.min-width-150 {
    min-width: 150px;
  }

  &.min-width-100 {
    min-width: 100px;
  }

  &.min-width-200 {
    min-width: 200px;
  }
}

.rr-input {
  padding: 5px 15px;
  border: 1px solid #b5b8c5;
  background-color: white;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 300;
  color: #36373c;
  outline: 0 !important;

  &::-webkit-input-placeholder {
    color: #b5b8c5;
  }

  &:-ms-input-placeholder {
    color: #b5b8c5;
  }

  &::placeholder {
    color: #b5b8c5;
  }
}

.rr-label {
  color: #3f4b62;
  font-size: 15px;
  font-weight: 500;
}

.rr-link {
  color: #2557e0;
  text-decoration: underline;
}

.rr-box {
  background-color: white;
  border: 1px solid #e9ebfe;
  border-radius: 5px;
}

button {
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none;
  }
}

// Layout
@import './scss/layout/header';
@import './scss/layout/sidebar';
@import './scss/layout/content-header';

// Components
@import './scss/components/checkbox';
@import './scss/components/checkbox-2';
@import './scss/components/date-range-picker';
@import './scss/components/switch';
@import './scss/components/table';

// Pages
@import './scss/pages/page-connect';
@import './scss/pages/page-dashboard';
@import './scss/pages/page-import';
@import './scss/pages/page-integrations';
@import './scss/pages/page-settings-my-profile';
@import './scss/pages/page-settings-billing-address';
@import './scss/pages/page-settings-billing-history';
@import './scss/pages/page-settings-billing-credit-card';
@import './scss/pages/page-surveys';
@import './scss/pages/page-survey-throttling';
@import './scss/pages/page-survey-open-ended-question';
@import './scss/pages/table';
@import './scss/pages/overlay-survey';
