@charset "UTF-8";
.title-l {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0px;
  color: #192a59;
}

.title-m {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0px;
  color: #192a59;
}
@media (max-width: 991.98px) {
  .title-m {
    font-size: 28px;
  }
}
@media (max-width: 575.98px) {
  .title-m {
    font-size: 25px;
  }
}

.l {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0px;
  color: #33475b;
}
@media (max-width: 991.98px) {
  .l {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .l {
    font-size: 16px;
  }
}

.m {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0px;
  color: #33475b;
}
@media (max-width: 991.98px) {
  .m {
    font-size: 16px;
  }
}
@media (max-width: 575.98px) {
  .m {
    font-size: 14px;
  }
}

.s {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0px;
  color: #33475b;
}
@media (max-width: 991.98px) {
  .s {
    font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  .s {
    font-size: 12px;
  }
}

.xs {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #63686f;
}
@media (max-width: 991.98px) {
  .xs {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .xs {
    font-size: 10px;
  }
}

.field-label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #3f4b62;
}

* {
  font-family: "Roboto", sans-serif;
  color: #3f4b62;
}

body {
  overflow-x: hidden;
  background-color: #f5f7fc;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
}
@media (min-width: 1200px) {
  body .container {
    max-width: 1350px;
  }
}
body .text-dark {
  color: #3e4b5b !important;
}
body .text-blue {
  color: #2557e0;
}
body .text-green {
  color: #00bea5;
}
body .text-red {
  color: #f73e26;
}
body .text-orange {
  color: #f7b626;
}
body .text-gray {
  color: #b5b8c5;
}
body .bg-blue {
  background-color: #2557e0;
}
body .bg-green {
  background-color: #00bea5;
}
body .bg-red {
  background-color: #f73e26;
}
body .bg-orange {
  background-color: #f7b626;
}
body .border-blue {
  border-color: #2557e0 !important;
}
body .border-green {
  border-color: #00bea5 !important;
}
body .border-red {
  border-color: #f73e26 !important;
}
body .border-orange {
  border-color: #f7b626 !important;
}

.main-content {
  padding-bottom: 100px;
}

.rr-btn {
  padding: 12px 20px;
  border: 1px solid #2557e0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: normal;
  color: #2557e0;
  transition: 300ms filter;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}
.rr-btn:not(.outline):hover {
  filter: brightness(120%);
  transition: 300ms filter;
}
.rr-btn.disabled:not(.outline) {
  pointer-events: none;
  background-color: #a2a9be !important;
  border-color: #a2a9be !important;
  color: white;
}
.rr-btn.outline {
  background-color: transparent;
}
.rr-btn.outline:hover {
  background-color: #eee;
}
.rr-btn.outline.disabled {
  pointer-events: none;
  color: #a2a9be !important;
  border: 1px solid #a2a9be !important;
}
.rr-btn.outline.dark {
  border-color: #757e83;
  color: #757e83;
}
.rr-btn.outline.dark-purple {
  border-color: #372459;
  color: #372459;
}
.rr-btn.outline.blue {
  color: #2557e0;
  color: #2557e0;
}
.rr-btn:not(.outline).transparent {
  background-color: transparent !important;
  border-color: transparent !important;
}
.rr-btn:not(.outline).dark {
  color: white;
  background-color: #757e83;
}
.rr-btn:not(.outline).blue {
  color: white;
  background-color: #2557e0;
}
.rr-btn.bold {
  font-weight: bold;
}
.rr-btn.medium {
  font-weight: 500;
}
.rr-btn.min-width-170 {
  min-width: 170px;
}
.rr-btn.min-width-150 {
  min-width: 150px;
}
.rr-btn.min-width-100 {
  min-width: 100px;
}
.rr-btn.min-width-200 {
  min-width: 200px;
}

.rr-input {
  padding: 5px 15px;
  border: 1px solid #b5b8c5;
  background-color: white;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 300;
  color: #36373c;
  outline-color: #b5b8c5;
}
.rr-input:focus {
  transition: 500ms;
  outline-width: 2px;
  outline-color: #2557e0;
}
.rr-input::-webkit-input-placeholder {
  color: #b5b8c5;
}
.rr-input:-ms-input-placeholder {
  color: #b5b8c5;
}
.rr-input::placeholder {
  color: #b5b8c5;
}

.rr-label {
  color: #3f4b62;
  font-size: 15px;
  font-weight: 500;
}

.rr-link {
  color: #2557e0;
  text-decoration: underline;
}
.rr-link.red {
  color: #f73e26;
}
.rr-link:hover {
  transition: 300ms;
  opacity: 0.8;
}

.rr-box {
  background-color: white;
  border: 1px solid #e9ebfe;
  border-radius: 5px;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none;
}

.navigation {
  height: 75px;
  background-color: #2557e0;
}
.navigation div {
  height: inherit;
}
.navigation .icon-fa-bars {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: 20px;
  color: #ffffff;
  font-size: 26px;
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms;
}
.navigation .icon-fa-bars:hover {
  transition: 250ms;
  background: #2f5ee2;
}
.navigation .title {
  margin-left: 10px;
  line-height: 20px;
  font-size: 26px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}
.navigation .dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation .dropdown #user-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  box-shadow: none;
}
.navigation .dropdown #user-dropdown .user-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #192a59;
  border: 1px solid #192a59;
  border-radius: 50%;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}
.navigation .dropdown #user-dropdown .user-name {
  margin-left: 12px;
  color: #ffffff;
  font-size: 14px;
  line-height: 48px;
  display: inline-block;
}
.navigation .dropdown #user-dropdown .icon-toggle-arrow {
  margin-top: 5px;
  margin-left: 16.5px;
  color: white;
  font-size: 16px;
  display: inline-block;
}
.navigation .dropdown .dropdown-menu {
  left: 38px !important;
  top: -14px !important;
  min-width: 12rem;
  height: auto;
  padding: 2px 9px;
  border: 1px solid #eaedf1 !important;
}
@media only screen and (max-width: 1500px) {
  .navigation .dropdown .dropdown-menu {
    left: 0 !important;
  }
}
.navigation .dropdown .dropdown-menu .heading {
  padding: 1rem 1rem;
}
.navigation .dropdown .dropdown-menu h5 {
  font-size: 1rem;
}
.navigation .dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #4f5356;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.navigation .dropdown .dropdown-menu .dropdown-item:hover {
  color: #16181b !important;
}
.navigation .dropdown .dropdown-menu .dropdown-item .dropdown-icon {
  color: #9aa0ac;
  margin-right: 0.5rem;
  margin-left: -0.5rem;
  width: 1em;
  text-align: center;
  vertical-align: -1px;
}

.navigation,
.main-content {
  transition: 200ms;
  transform: initial;
}

.sidebar-show .navigation,
.sidebar-show .main-content {
  transition: 200ms;
  transform: translate3d(300px, 0, 0);
  opacity: 1;
}
@media (max-width: 767.98px) {
  .sidebar-show .navigation,
.sidebar-show .main-content {
    transform: translate3d(275px, 0, 0);
  }
}
@media (max-width: 575.98px) {
  .sidebar-show .navigation,
.sidebar-show .main-content {
    transform: translate3d(250px, 0, 0);
  }
}
.sidebar-show .sidebar {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.sidebar {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background: #fff;
  box-shadow: 0 3px 10px rgba(62, 85, 120, 0.045);
  width: 300px;
  z-index: 999;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
@media (max-width: 767.98px) {
  .sidebar {
    width: 275px;
  }
}
@media (max-width: 575.98px) {
  .sidebar {
    width: 250px;
  }
}
.sidebar .slimScrollDiv,
.sidebar .sidebar-inner {
  height: 100% !important;
}
.sidebar .sidebar-inner {
  padding: 75px 35px 65px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 1199.98px) {
  .sidebar .sidebar-inner {
    padding: 50px 35px 50px;
  }
}
@media (max-width: 767.98px) {
  .sidebar .sidebar-inner {
    padding: 30px 25px;
  }
}
.sidebar .sidebar-inner .links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.sidebar .sidebar-inner .links a {
  margin-bottom: 20px;
  color: #192a59;
  text-decoration: none;
  position: relative;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: calc(100% + 5px);
}
.sidebar .sidebar-inner .links a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: #2557e0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.sidebar .sidebar-inner .links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.sidebar .sidebar-inner .collaborators {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
}
.sidebar .sidebar-inner .collaborators .main-user {
  width: 38px;
}
.sidebar .sidebar-inner .collaborators .plus {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: calc(100% + 5px);
  margin-left: 10px;
  margin-right: 10px;
}
.sidebar .sidebar-inner .collaborators .other-users img {
  width: 35px;
  height: 35px;
}
.sidebar .sidebar-inner .collaborators .other-users img:not(:last-child) {
  margin-right: -10px;
}

.main-content-header {
  background-color: white;
  padding-top: 15px;
}
.main-content-header .container {
  max-width: 900px;
}
.main-content-header .container .header-title {
  margin-bottom: 10px;
}
@media (max-width: 575.98px) {
  .main-content-header .container .header-title {
    text-align: center;
  }
}
.main-content-header .container .nav-settings {
  padding: 0;
  margin-bottom: 0;
}
.main-content-header .container .nav-settings hr {
  height: 0.25rem;
  width: 20%;
  margin: 0;
  background: #2557e0;
  border: none;
  transition: 0.3s ease-in-out;
}
.main-content-header .container .nav-settings li {
  display: inline;
  text-align: center;
}
.main-content-header .container .nav-settings li.active a {
  color: #192a59;
  font-weight: bold;
}
.main-content-header .container .nav-settings li a {
  width: 19.5%;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #a2a9be;
}
.main-content-header .container .nav-settings li.active.one ~ hr {
  margin-left: 0;
}
.main-content-header .container .nav-settings li.active.two ~ hr {
  margin-left: 20%;
}
.main-content-header .container .nav-settings li.active.three ~ hr {
  margin-left: 40%;
}
.main-content-header .container .nav-settings li.active.four ~ hr {
  margin-left: 60%;
}
.main-content-header .container .nav-settings li.active.five ~ hr {
  margin-left: 80%;
}
.main-content-header .container .nav-settings li:hover.one ~ hr {
  margin-left: 0;
}
.main-content-header .container .nav-settings li:hover.two ~ hr {
  margin-left: 20%;
}
.main-content-header .container .nav-settings li:hover.three ~ hr {
  margin-left: 40%;
}
.main-content-header .container .nav-settings li:hover.four ~ hr {
  margin-left: 60%;
}
.main-content-header .container .nav-settings li:hover.five ~ hr {
  margin-left: 80%;
}
.main-content-header .container .nav-workflow {
  padding: 0;
  margin-bottom: 0;
}
.main-content-header .container .nav-workflow hr {
  height: 0.25rem;
  width: 24.5%;
  margin: 0;
  background: #2557e0;
  border: none;
  transition: 0.3s ease-in-out;
}
.main-content-header .container .nav-workflow li {
  display: inline;
  text-align: center;
}
.main-content-header .container .nav-workflow li.active a {
  color: #192a59;
  font-weight: bold;
}
.main-content-header .container .nav-workflow li a {
  width: 24.5%;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #a2a9be;
}
.main-content-header .container .nav-workflow li.active.one ~ hr {
  margin-left: 0;
}
.main-content-header .container .nav-workflow li.active.two ~ hr {
  margin-left: 25%;
}
.main-content-header .container .nav-workflow li.active.three ~ hr {
  margin-left: 50%;
}
.main-content-header .container .nav-workflow li.active.four ~ hr {
  margin-left: 75%;
}
.main-content-header .container .nav-workflow li:hover.one ~ hr {
  margin-left: 0;
}
.main-content-header .container .nav-workflow li:hover.two ~ hr {
  margin-left: 25%;
}
.main-content-header .container .nav-workflow li:hover.three ~ hr {
  margin-left: 50%;
}
.main-content-header .container .nav-workflow li:hover.four ~ hr {
  margin-left: 75%;
}
.main-content-header.subheader {
  padding-top: 0;
  border-top: 1px solid #e9ebfe;
}
.main-content-header.subheader .nav {
  justify-content: space-evenly;
  padding-top: 7px;
  padding-bottom: 7px;
}
.main-content-header.subheader .nav .nav-link {
  position: relative;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #a2a9be;
}
@media (max-width: 575.98px) {
  .main-content-header.subheader .nav .nav-link {
    text-align: center;
  }
}
.main-content-header.subheader .nav .nav-link.active {
  color: #192a59;
  font-weight: bold;
}
.main-content-header.subheader .nav .nav-link.active::after {
  content: none;
}

.Checkbox[disabled], .Checkbox.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.Checkbox label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 200px;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
  cursor: pointer;
}
.Checkbox label::-moz-selection {
  color: none;
  background: none;
}
.Checkbox label::selection {
  color: none;
  background: none;
}
.Checkbox label::-moz-selection {
  color: none;
  background: none;
}
.Checkbox label input {
  display: none;
}
.Checkbox label span {
  letter-spacing: 0;
  height: 18px;
  width: 18px;
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  background-color: #ebedf3;
  border-radius: 4px;
}
.Checkbox label [type=checkbox]:checked + span {
  background-color: #6993ff !important;
}
.Checkbox label [type=checkbox]:checked + span:before {
  content: "";
  margin-top: 1px;
  height: 100%;
  font-family: "Font Awesome 5 Pro";
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.Checkbox label [type=checkbox].minus:checked + span:before {
  content: "";
  margin-top: 1px;
  height: 100%;
  font-family: "Font Awesome 5 Pro";
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Checkbox2[disabled], .Checkbox2.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.Checkbox2 label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 200px;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
  cursor: pointer;
}
.Checkbox2 label::-moz-selection {
  color: none;
  background: none;
}
.Checkbox2 label::selection {
  color: none;
  background: none;
}
.Checkbox2 label::-moz-selection {
  color: none;
  background: none;
}
.Checkbox2 label input {
  display: none;
}
.Checkbox2 label span {
  letter-spacing: 0;
  height: 18px;
  width: 18px;
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid #b5b8c5;
  border-radius: 4px;
}
.Checkbox2 label [type=checkbox]:checked + span {
  background-color: #6993ff !important;
}
.Checkbox2 label [type=checkbox]:checked + span:before {
  content: "";
  margin-top: 1px;
  height: 100%;
  font-family: "Font Awesome 5 Pro";
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.Checkbox2 label [type=checkbox].minus:checked + span:before {
  content: "";
  margin-top: 1px;
  height: 100%;
  font-family: "Font Awesome 5 Pro";
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.daterangepicker {
  font-family: "Roboto", sans-serif !important;
}
.daterangepicker .ranges li {
  font-size: 14px;
  color: #757e83;
}
.daterangepicker .ranges li.active {
  background-color: #2557e0 !important;
  color: #fff;
}

.onoffswitch {
  position: relative;
  width: 65px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 20px;
  margin-bottom: 0;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 10px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #00bea5;
  color: #ffffff;
  font-weight: 300;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #b5b8c5;
  color: #ffffff;
  text-align: right;
  font-weight: 300;
}

.onoffswitch-switch {
  display: block;
  width: 24px;
  height: 24px;
  margin: 5px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 31px;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.rr-table {
  margin-bottom: 0;
}
.rr-table thead th {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e9ebfe;
  border: 0;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(100% + 5px);
  color: #192a59;
  text-transform: uppercase;
}
.rr-table tbody td,
.rr-table tbody th {
  border: 0;
  border-bottom: 1px solid #e9ebfe;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(100% + 5px);
  color: #33475b;
}
.rr-table tbody td {
  padding-top: 15px;
  padding-bottom: 15px;
}

#overlay-survey .modal-content {
  background-color: #e9ebfe;
  border: 1px solid #08226a;
  border-radius: 2px;
}
#overlay-survey .modal-content .modal-body {
  position: relative;
  padding: 40px 35px 60px;
}
#overlay-survey .modal-content .modal-body .btn-close {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 12px;
}
#overlay-survey .modal-content .modal-body .btn-close i {
  font-size: 20px;
  color: #2557e0;
}
#overlay-survey .modal-content .modal-body .title {
  color: #192a59;
}
#overlay-survey .modal-content .modal-body form {
  margin-top: 30px;
}
#overlay-survey .modal-content .modal-body form .rr-label {
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #192a59;
}
#overlay-survey .modal-content .modal-body form .horizontal {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: row;
}
@media (max-width: 575.98px) {
  #overlay-survey .modal-content .modal-body form .horizontal {
    flex-direction: column;
  }
}
#overlay-survey .modal-content .modal-body form .horizontal #email-address {
  width: 100%;
  flex: 1;
  margin-right: 8px;
  border: 1px solid #08226a;
  border-radius: 2px;
  font-size: 25px;
}
@media (max-width: 575.98px) {
  #overlay-survey .modal-content .modal-body form .horizontal #email-address {
    margin-right: 0;
  }
}
#overlay-survey .modal-content .modal-body form .horizontal .btn-test {
  padding-left: 35px;
  padding-right: 35px;
}
@media (max-width: 575.98px) {
  #overlay-survey .modal-content .modal-body form .horizontal .btn-test {
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
#overlay-survey .modal-content .modal-body form .note {
  margin-top: 10px;
  display: block;
  color: #a2a9be;
  font-size: 15px;
  font-weight: 300;
}

#page-connect {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
#page-connect .logo {
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#page-connect .title {
  margin-top: 15px;
  text-align: center;
}
#page-connect .subtitle {
  margin-top: 10px;
  display: block;
  text-align: center;
}
#page-connect .top-content {
  padding: 45px 25px 40px;
}
#page-connect .top-content input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#page-connect .top-content .note {
  margin-top: 10px;
  display: block;
  text-decoration: underline;
  color: #192a59;
}
#page-connect .controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px 10px;
  background-color: #f4f5fd;
}

#page-dashboard {
  /*
  * SCORES SECTION
  */
  /*
  * FEEDBACK SECTION
  */
}
#page-dashboard .breadcrumbs {
  margin-top: 50px;
}
#page-dashboard .breadcrumbs span {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
#page-dashboard .scores {
  margin-top: 41px;
}
#page-dashboard .scores .box-card {
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 0;
}
#page-dashboard .scores .box-card .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}
#page-dashboard .scores .net-promoter-score .header {
  display: flex;
  justify-content: space-between;
}
#page-dashboard .scores .net-promoter-score .header .datepicker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px 20px;
  border: 1px solid #2557e0;
  border-radius: 5px;
  z-index: 999;
  cursor: pointer;
}
#page-dashboard .scores .net-promoter-score .header .datepicker .icon {
  font-size: 24px;
}
#page-dashboard .scores .net-promoter-score .header .datepicker .date-range {
  margin-left: 17px;
  font-size: 16px;
  line-height: 20px;
}
#page-dashboard .scores .net-promoter-score .total-respondents-count {
  margin-top: 5px;
  display: block;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
}
#page-dashboard .scores .net-promoter-score #gauge {
  margin-top: -35px;
}
#page-dashboard .scores .net-promoter-score .list {
  margin-top: 31px;
  margin-right: 8px;
}
#page-dashboard .scores .net-promoter-score .list .item {
  margin-bottom: 35px;
}
#page-dashboard .scores .net-promoter-score .list .item:last-child {
  margin-bottom: 20px;
}
#page-dashboard .scores .net-promoter-score .list .item .item-heading {
  display: flex;
  justify-content: space-between;
}
#page-dashboard .scores .net-promoter-score .list .item .item-heading .left .name {
  display: block;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
}
#page-dashboard .scores .net-promoter-score .list .item .item-heading .left .respondents-count {
  margin-top: -3px;
  display: block;
  color: #757e83;
  font-size: 12px;
  line-height: 20px;
}
#page-dashboard .scores .net-promoter-score .list .item .item-heading .right {
  align-self: flex-end;
}
#page-dashboard .scores .net-promoter-score .list .item .item-heading .right .percentage {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}
#page-dashboard .scores .net-promoter-score .list .item .item-heading .right .icon {
  margin-left: 4px;
  font-size: 18px;
}
#page-dashboard .scores .net-promoter-score .list .item .progress {
  margin-top: 8px;
  height: 10px;
  border-radius: 25px;
}
#page-dashboard .scores .net-promoter-score .list .item .progress .progress-bar {
  border-radius: 25px;
}
@media only screen and (max-width: 1199px) {
  #page-dashboard .scores .net-promoter-score .gauge-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #page-dashboard .scores .net-promoter-score #gauge {
    margin-top: -30px;
  }
}
@media only screen and (max-width: 991px) {
  #page-dashboard .scores .weekly-score {
    margin-top: 30px;
  }
}
#page-dashboard .scores .weekly-score .box-card {
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 0;
  height: 100%;
  padding: 0;
  background-color: #25378b !important;
  display: flex;
  flex-direction: column;
}
#page-dashboard .scores .weekly-score .box-card .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}
#page-dashboard .scores .weekly-score .header {
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}
#page-dashboard .scores .weekly-score .header .title {
  color: #ffffff;
}
#page-dashboard .scores .weekly-score .header .weekly-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px 17px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999;
}
#page-dashboard .scores .weekly-score .header .weekly-dropdown .icon {
  font-size: 16px;
  color: #ffffff;
  margin-left: 14.5px;
}
#page-dashboard .scores .weekly-score .header .weekly-dropdown .selected-item {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
#page-dashboard .scores .weekly-score .header .dropdown-item {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #757e83;
}
#page-dashboard .scores .weekly-score .header .dropdown-item:active {
  color: #ffffff;
}
#page-dashboard .scores .weekly-score .score-count-container {
  display: flex;
  margin-top: -15px;
  padding: 0 20px;
}
#page-dashboard .scores .weekly-score .score-count-container .score-count {
  font-size: 52px;
  font-weight: 900;
  color: white;
}
#page-dashboard .scores .weekly-score .score-count-container .icon {
  margin-top: 6px;
  margin-left: 13px;
  font-size: 18px;
  color: #00bea5;
}
#page-dashboard .scores .weekly-score canvas {
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 30px;
}
#page-dashboard .feedback {
  margin-top: 30px;
  margin-bottom: 108px;
}
#page-dashboard .feedback .box-card {
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 0;
}
#page-dashboard .feedback .box-card .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}
#page-dashboard .feedback .list {
  padding: 53px 147px 0 109px;
}
@media only screen and (max-width: 1199px) {
  #page-dashboard .feedback .list {
    padding: 53px 10px 0 10px;
  }
}
@media only screen and (max-width: 416px) {
  #page-dashboard .feedback .list {
    padding: 53px 0 0 0;
  }
  #page-dashboard .feedback .list hr {
    display: none;
  }
}
#page-dashboard .feedback .list .item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 74px;
}
#page-dashboard .feedback .list .item:last-child {
  margin-bottom: 0;
}
#page-dashboard .feedback .list .item .count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  flex-shrink: 0;
  justify-content: flex-start;
}
@media only screen and (max-width: 463px) {
  #page-dashboard .feedback .list .item .count-container {
    width: 60px;
  }
}
@media only screen and (max-width: 416px) {
  #page-dashboard .feedback .list .item .count-container {
    width: auto;
    padding-right: 5px;
  }
}
#page-dashboard .feedback .list .item .count-container .count {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  display: flex;
}
#page-dashboard .feedback .list .item .text-container {
  border-left: 4px solid #00bea5;
  padding: 27px 0 8px 27px;
  flex: 1;
}
@media only screen and (max-width: 463px) {
  #page-dashboard .feedback .list .item .text-container {
    padding: 27px 0 8px 15px;
  }
}
#page-dashboard .feedback .list .item .text-container .title {
  max-width: 814px;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}
@media only screen and (max-width: 463px) {
  #page-dashboard .feedback .list .item .text-container .title {
    font-size: 16px;
  }
}
#page-dashboard .feedback .list .item .text-container .email {
  max-width: 814px;
  margin-top: 32px;
  display: block;
  color: #757e83;
  font-size: 18px;
  line-height: 20px;
}
#page-dashboard .feedback .list .item .text-container .date {
  max-width: 814px;
  display: block;
  color: #757e83;
  font-size: 15px;
  line-height: 20px;
}
#page-dashboard .feedback .list .item .dropdown-container {
  margin-right: -18px;
  align-self: flex-start;
  align-items: center;
  flex-shrink: 0;
}
@media only screen and (max-width: 416px) {
  #page-dashboard .feedback .list .item .dropdown-container {
    margin-right: 0;
    margin-left: auto;
  }
}
#page-dashboard .feedback .list .item .dropdown-container .feedback-dropdown {
  outline: 0;
  box-shadow: none;
}
#page-dashboard .feedback .list .item .dropdown-container .dropdown-menu {
  left: -44px !important;
  height: auto;
  padding: 5px 15px;
  box-shadow: 0 10px 15px rgba(229, 228, 230, 0.5);
  border: 1px solid #eaedf1 !important;
}
#page-dashboard .feedback .list .item .dropdown-container .dropdown-menu .dropdown-item {
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #4f5356;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
#page-dashboard .feedback .list .item .dropdown-container .dropdown-menu .dropdown-item:hover {
  color: #16181b !important;
}
#page-dashboard .feedback .list .item .dropdown-container .dropdown-menu .dropdown-item .dropdown-icon {
  color: #9aa0ac;
  margin-right: 0.5rem;
  margin-left: -0.5rem;
  width: 1em;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
#page-dashboard .feedback .list .item .dropdown-container .icon {
  margin-top: -25px;
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
  transition: 250ms;
  cursor: pointer;
}
#page-dashboard .feedback .list .item .dropdown-container .icon:hover {
  transition: 250ms;
  background-color: rgba(0, 0, 0, 0.03);
}
#page-dashboard .feedback .list .item hr {
  height: 0;
  margin: 28px 0 0 auto;
  flex-basis: calc( 100% - 95px - 13px - 4px );
  border-top: 1px solid #d1d1d1;
  opacity: 0.48;
}
#page-dashboard .feedback .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 103px 93px 43px 93px;
}
@media only screen and (max-width: 767px) {
  #page-dashboard .feedback .footer {
    padding: 103px 10px 43px 10px;
  }
}
#page-dashboard .feedback .footer .pagination .page-item.active a {
  font-weight: 500;
  color: #2557e0;
  background-color: #d3ebff;
}
#page-dashboard .feedback .footer .pagination .page-item a {
  padding: 4px 13px;
  color: #757e83;
  font-size: 18px;
  border-color: #2557e0 !important;
}
#page-dashboard .feedback .footer .responses {
  display: block;
  font-size: 18px;
  color: #757e83;
  font-weight: 500;
  line-height: 20px;
}
@media only screen and (max-width: 460px) {
  #page-dashboard .feedback .footer nav {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #page-dashboard .feedback .footer .responses {
    width: 100%;
    margin-top: 16px;
    display: block;
    text-align: center;
  }
}

#page-import {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#page-import .title {
  margin-top: 15px;
  text-align: center;
}
#page-import .subtitle {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  max-width: 662px;
}
#page-import .top-content {
  padding: 30px 30px 50px;
}
#page-import .controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px 10px;
  background-color: #f4f5fd;
}

#page-integrations {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#page-integrations .title {
  margin-top: 30px;
  color: #192a59;
}
#page-integrations .integrations-list {
  margin-top: 50px;
}
#page-integrations .integrations-list .item {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
  padding: 10px 20px;
  border: 1px solid #e9ebfe;
  border-radius: 5px;
  transition: 300ms;
}
#page-integrations .integrations-list .item.active {
  background-color: white;
  border: 2px solid #2557e0;
  transition: 300ms;
}
#page-integrations .integrations-list .item img {
  flex-shrink: 0;
  width: 60px;
  border-radius: 50%;
}
#page-integrations .integrations-list .item .content {
  flex: 1;
  margin-left: 30px;
  margin-right: 10px;
}
#page-integrations .integrations-list .item .content .name {
  margin-bottom: 0;
  font-size: 17px;
  font-weight: bold;
  color: #33475b;
}
#page-integrations .integrations-list .item .content .description {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 300;
  color: #33475b;
}
#page-integrations .integrations-list .item .onoffswitch {
  flex-shrink: 0;
}
@media (max-width: 575.98px) {
  #page-integrations .integrations-list .item img {
    display: none;
  }
  #page-integrations .integrations-list .item .content {
    margin-left: 0;
  }
  #page-integrations .integrations-list .item .content .name {
    font-size: 16px;
  }
  #page-integrations .integrations-list .item .content .description {
    font-size: 12px;
  }
}
#page-integrations .controls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
}
#page-integrations .controls button {
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
#page-integrations .controls .btn-save-and-continue {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #2557e0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#page-integrations .controls .btn-save-and-continue .icon {
  position: absolute;
  right: 20px;
  color: white;
  margin-top: 2px;
}
#page-integrations .controls .btn-back {
  padding-left: 40px;
  padding-right: 40px;
  color: #2557e0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#page-integrations .controls .btn-back .icon {
  position: absolute;
  left: 10px;
  margin-top: 2px;
  color: #2557e0;
}
@media (max-width: 575.98px) {
  #page-integrations .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #page-integrations .controls .btn-continue {
    margin-bottom: 10px;
  }
}

#page-settings-billing-address {
  max-width: 430px;
}
#page-settings-billing-address .top-content {
  padding: 30px 30px 50px;
}
#page-settings-billing-address .top-content .input-fields .item input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 11px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(100% + 5px);
}
@media (max-width: 575.98px) {
  #page-settings-billing-address .top-content .input-fields .item input {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(100% + 5px);
  }
}
#page-settings-billing-address .controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px 10px;
  background-color: #f4f5fd;
}

#page-settings-billing-credit-card {
  max-width: 660px;
}
#page-settings-billing-credit-card .top-content {
  padding: 30px 30px 70px;
}
#page-settings-billing-credit-card .top-content .credit-cards .item {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
  border-top: 1px solid #e9ebfe;
}
#page-settings-billing-credit-card .top-content .credit-cards .item:last-child {
  border-bottom: 1px solid #e9ebfe;
}
@media only screen and (max-width: 420px) {
  #page-settings-billing-credit-card .top-content .credit-cards .item {
    flex-wrap: wrap;
  }
  #page-settings-billing-credit-card .top-content .credit-cards .item button {
    flex-basis: 100%;
  }
}
#page-settings-billing-credit-card .top-content .credit-cards .item img {
  align-self: center;
  width: 57px;
  margin-right: 30px;
}
#page-settings-billing-credit-card .top-content .credit-cards .item .details {
  flex: 1;
}
#page-settings-billing-credit-card .top-content .credit-cards .item button {
  padding-top: 5px;
  padding-bottom: 5px;
}
#page-settings-billing-credit-card .controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px 10px;
  background-color: #f4f5fd;
}

#page-settings-billing-history {
  max-width: 900px;
}
#page-settings-billing-history .top-content {
  padding: 30px 30px 70px;
}

#page-settings-my-profile {
  max-width: 900px;
}
#page-settings-my-profile .top-content {
  padding: 30px 30px 60px;
}
#page-settings-my-profile .top-content .input-fields .item input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 11px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(100% + 5px);
}
@media (max-width: 575.98px) {
  #page-settings-my-profile .top-content .input-fields .item input {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(100% + 5px);
  }
}
#page-settings-my-profile .top-content .input-fields .item .upload-photo {
  width: 50px;
}
#page-settings-my-profile .top-content .input-fields .item .btn-edit {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #2557e0;
  text-decoration: underline;
}
#page-settings-my-profile .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 10px 10px 30px;
  background-color: #f4f5fd;
}
#page-settings-my-profile .controls .newsletter-checkbox {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
}

#page-settings-plan {
  max-width: 900px;
}
#page-settings-plan .rr-box {
  padding: 30px;
}
#page-settings-plan .section-plan .plan {
  padding: 15px 10px;
  border: 1px solid #e9ebff;
  border-radius: 10px;
}
#page-settings-plan .section-plan .plan.active {
  border: 2px solid #2557e0;
}
#page-settings-plan .section-plan .plan .recommended {
  color: #00bea5;
  font-weight: bold;
}
#page-settings-plan .section-plan .plan .title {
  color: #2557e0;
}
#page-settings-plan .section-plan .plan .features .item {
  padding: 20px 10px;
  border-bottom: 1px solid #f6f6fe;
}
#page-settings-plan .section-plan .plan .features .item .feature-unsupported,
#page-settings-plan .section-plan .plan .features .item .feature-supported {
  margin: 0;
  margin-bottom: -4px;
  display: block;
  text-align: center;
  font-size: 25px;
  color: #eaeaea;
  line-height: 100%;
}
#page-settings-plan .section-plan .plan .features .item .feature-supported {
  color: #00bea5;
}
#page-settings-plan .section-plan .plan .features .item .feature-label {
  display: none;
}
@media only screen and (max-width: 815px) {
  #page-settings-plan .section-plan .plan .features .item .feature-label {
    display: block;
  }
}
#page-settings-plan .section-plan .feature-labels {
  margin-top: 380px;
}
#page-settings-plan .section-plan .feature-labels .item {
  padding: 19px 10px;
}
@media only screen and (max-width: 815px) {
  #page-settings-plan .section-plan .feature-labels-column {
    display: none;
  }
}
#page-settings-plan .section-usage .usage-progress .progress-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#page-settings-plan .section-usage .usage-progress .progress {
  height: 10px;
  border-radius: 10px;
}
#page-settings-plan .section-usage .usage-progress .progress .progress-bar {
  border-radius: 10px;
  background-color: #2557e0;
}

#page-subscription .title {
  margin-top: 15px;
  text-align: center;
}
#page-subscription .subtitle {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  max-width: 534px;
}
#page-subscription .section-form .steps {
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#page-subscription .section-form .steps .step-counter {
  display: block;
  color: #00bea5;
  text-align: right;
  font-weight: bold;
}
#page-subscription .section-form .steps .step-1 {
  padding: 20px 30px 30px;
}
#page-subscription .section-form .steps .step-1 .input-fields .item input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 11px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(100% + 5px);
}
@media (max-width: 575.98px) {
  #page-subscription .section-form .steps .step-1 .input-fields .item input {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(100% + 5px);
  }
}
#page-subscription .section-form .steps .step-2 {
  max-width: 430px;
  padding: 20px 30px 10px;
}
#page-subscription .section-form .steps .step-2 .choices {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: row;
}
@media only screen and (max-width: 400px) {
  #page-subscription .section-form .steps .step-2 .choices {
    flex-direction: column;
  }
  #page-subscription .section-form .steps .step-2 .choices .item {
    margin-right: 0 !important;
    margin-bottom: 5px;
  }
}
#page-subscription .section-form .steps .step-2 .choices.payment-period .item {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
  padding: 12px 15px;
  border: 1px solid #b5b8c5;
  background-color: #fcfcff;
  border-radius: 50px;
  cursor: pointer;
}
#page-subscription .section-form .steps .step-2 .choices.payment-period .item.active {
  border: 2px solid #2557e0;
}
#page-subscription .section-form .steps .step-2 .choices.payment-period .item.active .icon {
  border: 2px solid #2557e0;
}
#page-subscription .section-form .steps .step-2 .choices.payment-period .item.active .icon .icon-fill {
  display: block;
}
#page-subscription .section-form .steps .step-2 .choices.payment-period .item .icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border: 1px solid #b5b8c5;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#page-subscription .section-form .steps .step-2 .choices.payment-period .item .icon .icon-fill {
  width: 70%;
  height: 70%;
  display: none;
  background-color: #2557e0;
  border-radius: 50%;
}
#page-subscription .section-form .steps .step-2 .choices.subscription .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 12px 15px;
  border: 1px solid #b5b8c5;
  background-color: #fcfcff;
  border-radius: 10px;
  flex: 1;
  cursor: pointer;
}
#page-subscription .section-form .steps .step-2 .choices.subscription .item.active {
  border: 2px solid #2557e0;
}
#page-subscription .section-form .steps .step-2 .choices.subscription .item .small-md-label {
  margin-left: 5px;
  display: block;
  font-size: 10px;
}
#page-subscription .section-form .steps .step-2 .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#page-subscription .section-form .steps .step-2 .product .discount {
  text-decoration: line-through;
  color: #e00964;
}
#page-subscription .section-plan {
  margin-top: 100px;
}
#page-subscription .section-plan .plan {
  padding: 15px 0 0;
  background-color: white;
  border: 1px solid #e9ebff;
  border-radius: 10px;
}
#page-subscription .section-plan .plan.active {
  border: 2px solid #2557e0;
}
@media (min-width: 768px) {
  #page-subscription .section-plan .plan.active {
    margin-top: -27px;
  }
}
#page-subscription .section-plan .plan .recommended {
  color: #00bea5;
  font-weight: bold;
}
#page-subscription .section-plan .plan .title {
  color: #2557e0;
}
#page-subscription .section-plan .plan .features .item {
  height: 75px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#page-subscription .section-plan .plan .features .item:not(:last-child) {
  border-bottom: 1px solid #f6f6fe;
}
#page-subscription .section-plan .plan .features .item .feature-unsupported,
#page-subscription .section-plan .plan .features .item .feature-supported {
  margin: 0;
  margin-bottom: -4px;
  display: block;
  text-align: center;
  font-size: 25px;
  color: #eaeaea;
  line-height: 100%;
}
@media (max-width: 767.98px) {
  #page-subscription .section-plan .plan .features .item .feature-unsupported,
#page-subscription .section-plan .plan .features .item .feature-supported {
    font-size: 20px;
  }
}
#page-subscription .section-plan .plan .features .item .feature-supported {
  color: #00bea5;
}
#page-subscription .section-plan .plan .features .item .feature-label {
  display: none;
}
@media (max-width: 767.98px) {
  #page-subscription .section-plan .plan .features .item .feature-label {
    display: block;
  }
}
#page-subscription .section-plan .feature-labels {
  margin-top: 472px;
}
#page-subscription .section-plan .feature-labels .item {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
@media (max-width: 767.98px) {
  #page-subscription .section-plan .feature-labels-column {
    display: none;
  }
}

#page-survey-open-ended-question {
  max-width: 900px;
}
#page-survey-open-ended-question .top-content {
  padding: 30px 30px 80px;
}
#page-survey-open-ended-question .top-content .input-fields .item input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 11px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(100% + 5px);
}
@media (max-width: 575.98px) {
  #page-survey-open-ended-question .top-content .input-fields .item input {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(100% + 5px);
  }
}
#page-survey-open-ended-question .controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px 10px;
  background-color: #f4f5fd;
}

#page-survey-throttling {
  max-width: 900px;
}
#page-survey-throttling .top-content {
  padding: 30px 30px 50px;
}
#page-survey-throttling .top-content .input-fields {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
}
#page-survey-throttling .top-content .input-fields .item {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
}
#page-survey-throttling .top-content .input-fields .item input {
  width: 100px;
  padding-top: 12px;
  padding-bottom: 11px;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 575.98px) {
  #page-survey-throttling .top-content .input-fields {
    display: block;
  }
  #page-survey-throttling .top-content .input-fields .item input {
    flex: 1;
  }
  #page-survey-throttling .top-content .input-fields .item span {
    width: 80px;
  }
}
#page-survey-throttling .controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px 10px;
  background-color: #f4f5fd;
}

#page-surveys .btn-add-new-survey {
  display: block;
  margin-left: auto;
}
#page-surveys .btn-add-new-survey .icon {
  color: #2557e0;
  font-size: 13px;
  margin-right: 5px;
}
#page-surveys .surveys .item {
  padding: 25px 30px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e9ebfe;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
}
@media (max-width: 991.98px) {
  #page-surveys .surveys .item {
    flex-wrap: wrap;
  }
}
@media (max-width: 575.98px) {
  #page-surveys .surveys .item {
    padding: 15px;
  }
}
#page-surveys .surveys .item.with-note {
  padding-top: 60px;
}
@media (max-width: 575.98px) {
  #page-surveys .surveys .item.with-note {
    padding-top: 70px;
  }
}
#page-surveys .surveys .item .note {
  padding: 4px 10px;
  background-color: #fdefca;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 30px;
  margin-right: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(100% + 5px);
  color: #696d72;
}
#page-surveys .surveys .item .note .alt {
  color: #f73e26;
  font-weight: bold;
}
@media (max-width: 575.98px) {
  #page-surveys .surveys .item .note {
    left: 15px;
    margin-right: 15px;
    font-size: 10px;
  }
}
#page-surveys .surveys .item .count {
  width: 57px;
  height: 57px;
  border-radius: 6px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#page-surveys .surveys .item .count span {
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: calc(100% + 5px);
}
#page-surveys .surveys .item .count.red {
  background-color: #f73e26;
}
#page-surveys .surveys .item .count.green {
  background-color: #00bea5;
}
#page-surveys .surveys .item .count.yellow {
  background-color: #f7b626;
}
@media (max-width: 575.98px) {
  #page-surveys .surveys .item .count {
    width: 40px;
    height: 40px;
  }
  #page-surveys .surveys .item .count span {
    font-size: 14px;
  }
}
#page-surveys .surveys .item .content {
  margin-right: 10px;
  flex: 1;
}
#page-surveys .surveys .item .content .title {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: calc(100% + 5px);
  color: #33475b;
}
@media (max-width: 575.98px) {
  #page-surveys .surveys .item .content .title {
    font-size: 15px;
  }
}
#page-surveys .surveys .item .content .description {
  margin-top: 5px;
  display: block;
  color: #717171;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(100% + 5px);
}
@media (max-width: 575.98px) {
  #page-surveys .surveys .item .content .description {
    font-size: 12px;
  }
}
#page-surveys .surveys .item .quantity-labels {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 991.98px) {
  #page-surveys .surveys .item .quantity-labels {
    width: 100%;
    margin-top: 25px;
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  #page-surveys .surveys .item .quantity-labels {
    margin-top: 10px;
    flex-wrap: wrap;
  }
}
#page-surveys .surveys .item .quantity-labels .quantity {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: calc(100% + 5px);
  color: #25292d;
}
#page-surveys .surveys .item .quantity-labels .label {
  margin-top: 5px;
  display: block;
  color: #6a7179;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(100% + 5px);
}
@media (max-width: 575.98px) {
  #page-surveys .surveys .item .dropdown {
    flex-basis: 100%;
    margin-top: 10px;
    width: 100%;
  }
  #page-surveys .surveys .item .dropdown .btn-actions {
    width: 100%;
  }
  #page-surveys .surveys .item .dropdown .dropdown-menu {
    width: 100%;
  }
  #page-surveys .surveys .item .dropdown .dropdown-menu .dropdown-item {
    text-align: center;
  }
}
#page-surveys .surveys .item .dropdown.show .btn-actions::after {
  transform: rotate(180deg);
}
#page-surveys .surveys .item .dropdown .btn-actions {
  padding: 12px 25px;
  border: 1px solid #372459;
  border-radius: 4px;
  color: #25292d;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: calc(100% + 5px);
}
#page-surveys .surveys .item .dropdown .btn-actions::after {
  transition: 300ms transform;
}
#page-surveys .surveys .item .dropdown .btn-actions:hover {
  background-color: #ecf0f1;
}
#page-surveys .surveys .item .dropdown .dropdown-menu {
  min-width: auto;
  margin-top: 10px;
  padding: 5px 0;
  border: 0;
  border-radius: 6px;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.05);
}
#page-surveys .surveys .item .dropdown .dropdown-menu .dropdown-item {
  padding: 10px 30px;
  color: #63686f;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(100% + 5px);
}
#page-surveys .surveys .item .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #ecf0f1;
}
