// Abstract
@import './scss/abstract/main';

* {
  font-family: 'Roboto', sans-serif;
  color: $color-black-text;
}

body {
  overflow-x: hidden;
  background-color: $color-body-background;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .container {
    @media (min-width: 1200px) {
      max-width: 1350px;
    }
  }

  .text-dark {
    color: #3e4b5b !important;
  }

  .text-blue {
    color: $color-blue;
  }

  .text-green {
    color: $color-green;
  }

  .text-red {
    color: $color-red;
  }

  .text-yellow {
    color: $color-yellow;
  }

  .text-gray {
    color: $color-gray;
  }

  .bg-blue {
    background-color: $color-blue;
  }

  .bg-green {
    background-color: $color-green;
  }

  .bg-red {
    background-color: $color-red;
  }

  .bg-gray {
    background-color: #a2a9be;
  }

  .bg-yellow {
    background-color: $color-yellow;
  }

  .border-blue {
    border-color: $color-blue !important;
  }

  .border-green {
    border-color: $color-green !important;
  }

  .border-red {
    border-color: $color-red !important;
  }

  .border-yellow {
    border-color: $color-yellow !important;
  }
}

.main-content {
  padding-bottom: 100px;
}

.rr-btn {
  padding: 10px 20px;
  border: 1px solid $color-blue;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  color: $color-blue;
  transition: 300ms filter;

  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease,
    box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;

  &:not(.outline):hover {
    filter: brightness(120%);
    transition: 300ms filter;
  }

  &.disabled:not(.outline) {
    pointer-events: none;
    background-color: #a2a9be !important;
    border-color: #a2a9be !important;
    color: white;
  }

  &.outline {
    background-color: transparent;

    &:hover {
      background-color: #e9ebfe;
    }

    &.disabled {
      pointer-events: none;
      color: #a2a9be !important;
      border: 1px solid #a2a9be !important;
    }

    &.dark {
      border-color: $color-dark-gray;
      color: $color-dark-gray;
    }

    &.dark-purple {
      border-color: $color-dark-purple;
      color: $color-dark-purple;
    }

    &.blue {
      color: $color-blue;
    }
  }

  &:not(.outline) {
    &.transparent {
      background-color: transparent !important;
      border-color: transparent !important;
    }

    &.dark {
      color: white;
      background-color: $color-dark-gray;
    }

    &.blue {
      color: white;
      background-color: $color-blue;
    }
  }

  &.bold {
    font-weight: bold;
  }

  &.medium {
    font-weight: 500;
  }

  &.min-width-200 {
    min-width: 200px;
  }

  &.min-width-170 {
    min-width: 170px;
  }

  &.min-width-150 {
    min-width: 150px;
  }

  &.min-width-100 {
    min-width: 100px;
  }
}

.rr-input {
  padding: 12px 10px;
  border: 1px solid #b5b8c5;
  background-color: white;
  border-radius: 2px;
  font-size: 14px;
  color: #36373c;
  outline: none !important;

  &:focus {
    transition: 500ms;
    border: 2px solid $color-blue;
  }

  &::-webkit-input-placeholder {
    color: #b5b8c5;
  }

  &:-ms-input-placeholder {
    color: #b5b8c5;
  }

  &::placeholder {
    color: #b5b8c5;
  }
}

.rr-label {
  color: #3f4b62;
  font-size: 15px;
  font-weight: 500;
}

.rr-link {
  color: $color-blue;
  text-decoration: underline;

  &.red {
    color: $color-red;
  }

  &:hover {
    transition: 300ms;
    opacity: 0.8;
  }
}

.rr-box {
  background-color: white;
  border: 1px solid #e9ebfe;
  border-radius: 5px;
}

.rr-notification {
  $color-error: #e9211e;
  $color-error-light: #fee1df;
  $color-info: #ed9300;
  $color-info-light: #fdefdf;
  $color-success: #20d383;
  $color-success-light: #e4f9ed;

  .pnotify-container {
    padding: 1em 1.3em;
    background-image: none;
    border-radius: 4px;

    &.rr-info {
      background-color: $color-info-light;
      border-left: 2px solid $color-info;

      .icon-info {
        color: $color-info;
      }
    }

    &.rr-error {
      background-color: $color-error-light;
      border-left: 2px solid $color-error;

      .icon-error {
        color: $color-error;
      }
    }

    &.rr-success {
      background-color: $color-success-light;
      border-left: 2px solid $color-success;

      .icon-success {
        color: $color-success;
      }
    }

    .rr-icon {
      height: 24px;
      @include flex(center, center);
    }
  }

  .rr-closer {
    color: #80848b;
  }

  .rr-content {
    margin-left: 30px !important;

    .pnotify-pre-line {
      font-size: 15px;
      color: #1b1c1d;
    }
  }
}

.rr-badge {
  height: 30px;
  width: 30px;
  @include flex(center, center);
  @include font(16px, bold);
  color: $color-blue;
  background-color: #e9ebfe;
  border-radius: 50%;
}

.text-gray {
  color: $color-gray;
}

button {
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none;
  }
}

// Layout
@import './scss/layout/header';
@import './scss/layout/sidebar';
@import './scss/layout/content-header';

// Components
@import './scss/components/checkbox';
@import './scss/components/checkbox-2';
@import './scss/components/date-range-picker';
@import './scss/components/switch';
@import './scss/components/table';

// Pages
@import './scss/pages/overlay-survey';
@import './scss/pages/page-connect';
@import './scss/pages/page-dashboard';
@import './scss/pages/page-import';
@import './scss/pages/page-integrations';
@import './scss/pages/page-settings-billing-address';
@import './scss/pages/page-settings-billing-credit-card';
@import './scss/pages/page-settings-billing-history';
@import './scss/pages/page-settings-my-profile';
@import './scss/pages/page-settings-plan';
@import './scss/pages/page-subscription';
@import './scss/pages/page-survey-open-ended-question';
@import './scss/pages/page-survey-throttling';
@import './scss/pages/page-survey-template';
@import './scss/pages/page-surveys';
