$font-primary: Roboto, sans-serif;

$color-primary: #41a2f9;
$color-primary-lighter: #d3eaff;
$color-yellow: #ffca00;
$color-yellow-light: #ffda1a;
$color-green: #00cd46;
$color-dark: #2f2f2f;
$color-dark-gray: #7f7f7f;
$color-dark-gray2: #b4b4b4;
$color-gray: #eaeaea;
$color-gray2: #cecece;
$color-gray3: #e6e6e6;

$color-placeholder: #d0d3d4;

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
