#page-settings-billing-address {
  max-width: 430px;

  .top-content {
    padding: 30px 30px 50px;
  }

  .controls {
    @include flex(flex-end, center);
    padding: 10px 10px;
    background-color: #f4f5fd;
  }
}
