#page-survey-template {
  .lime-sidebar {
    width: 100%;

    .lime-sidebar-inner {
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          display: block;
          overflow: hidden;

          &.open > a {
            color: rgba(27, 29, 93, 1) !important;

            & > i.has-sub-menu {
              transform: rotate(-90deg);
            }
          }

          &.active-page > a {
            color: #037afb;
          }

          ul.sub-menu {
            margin-left: 12px;
            border-left: 2px solid #f1f1f1;
            display: none;
            position: relative;
            overflow: hidden;
            padding: 8px 0px 8px 25px;

            li {
              display: block;
              overflow: hidden;

              a {
                font-weight: normal;
                font-size: 16px;
                margin: 6px 0;

                &.active {
                  color: rgba(27, 29, 93, 1);
                }
              }
            }
          }

          a {
            display: block;
            margin: 9px 0px;
            font-weight: bold;
            color: #33475b;
            font-size: 20px;
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &:hover {
              color: rgba(27, 29, 93, 1) !important;

              i {
                color: inherit !important;
              }
            }

            &.active {
              color: #037afb !important;

              i {
                color: inherit !important;
              }
            }

            i {
              color: #33475b !important;
              font-size: 25px;
              line-height: 1;
              letter-spacing: normal;
              text-transform: none;
              display: inline-block;
              white-space: nowrap;
              word-wrap: normal;
              direction: ltr;
              -webkit-font-feature-settings: 'liga';
              -webkit-font-smoothing: antialiased;

              &.has-sub-menu {
                vertical-align: middle;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
              }
            }
          }
        }
      }
    }
  }

  .rr-box {
    border: 2px solid #94b2ff;

    .email-header {
      .item {
        @include flex;
        border-bottom: 1px solid #94b2ff;

        .label {
          @include flex(flex-end, center);
          width: 15%;

          @include media-breakpoint-down(xs) {
            width: 65px;
          }
        }

        input {
          padding-left: 25px;
          padding-top: 15px;
          padding-bottom: 15px;
          flex: 1;
          border: 0;
          font-weight: normal;
          font-size: 16px !important;
          color: $color-dark-blue;
        }
      }
    }

    .email-body {
      .email-container {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 25px;
        padding-right: 25px;
      }

      .email-container-alt {
        background-color: #f7f8fc;
      }

      .number-choices {
        @include flex(center, center);

        .item {
          @include flex(center, center);
          height: 50px;
          width: 50px;
          margin-left: 3px;
          margin-right: 3px;
          border-radius: 50%;
          border: 2px solid black;
          font-size: 16px;
          color: black;

          @include media-breakpoint-down(xs) {
            height: 35px;
            width: 35px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
