#page-survey-open-ended-question {
  max-width: $main-content-max-width;

  .top-content {
    padding: 30px 30px 80px;
  }

  .controls {
    @include flex(flex-end, center);
    padding: 10px 10px;
    background-color: #f4f5fd;
  }
}
