#page-settings-my-profile {
  max-width: $main-content-max-width;

  .top-content {
    padding: 30px 30px 60px;

    .input-fields {
      .item {
        .upload-photo {
          width: 50px;
        }

        .btn-edit {
          padding: 0;
          border: 0;
          background-color: transparent;
          color: $color-blue;
          text-decoration: underline;
        }
      }
    }
  }

  .controls {
    @include flex(space-between, center);
    padding: 10px 10px 10px 30px;
    background-color: #f4f5fd;

    .newsletter-checkbox {
      @include flex(stretch, center);
    }
  }
}
