#page-settings-billing-history {
  max-width: $main-content-max-width;

  .main-box {
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 5px;

    .top-content {
      padding: 30px 30px 70px;
    }
  }
}
