.main-content-header {
  background-color: white;
  padding-top: 15px;

  .container {
    max-width: $main-content-max-width;

    .header-title {
      margin-bottom: 10px;
      @include media-breakpoint-down(xs) {
        text-align: center;
      }
    }

    .nav-settings {
      padding: 0;
      margin-bottom: 0;

      hr {
        height: 0.25rem;
        width: 20%;
        margin: 0;
        background: $color-blue;
        border: none;
        transition: 0.3s ease-in-out;
      }

      li {
        display: inline;
        text-align: center;

        &.active {
          a {
            color: $color-dark-blue;
            font-weight: bold;
          }
        }

        a {
          width: 19.5%;
          margin: 0;
          padding: 0;
          padding-bottom: 15px;
          display: inline-block;
          text-decoration: none;
          text-align: center;
          color: #a2a9be;
        }

        &.active {
          &.one ~ hr {
            margin-left: 0;
          }
          &.two ~ hr {
            margin-left: 20%;
          }
          &.three ~ hr {
            margin-left: 40%;
          }
          &.four ~ hr {
            margin-left: 60%;
          }
          &.five ~ hr {
            margin-left: 80%;
          }
        }

        &:hover {
          &.one ~ hr {
            margin-left: 0;
          }
          &.two ~ hr {
            margin-left: 20%;
          }
          &.three ~ hr {
            margin-left: 40%;
          }
          &.four ~ hr {
            margin-left: 60%;
          }
          &.five ~ hr {
            margin-left: 80%;
          }
        }
      }
    }

    .nav-workflow {
      padding: 0;
      margin-bottom: 0;

      hr {
        height: 0.25rem;
        width: 24.5%;
        margin: 0;
        background: $color-blue;
        border: none;
        transition: 0.3s ease-in-out;
      }

      li {
        display: inline;
        text-align: center;

        &.active {
          a {
            color: $color-dark-blue;
            font-weight: bold;
          }
        }

        a {
          width: 24.5%;
          margin: 0;
          padding: 0;
          padding-bottom: 15px;
          display: inline-block;
          text-decoration: none;
          text-align: center;
          color: #a2a9be;
        }

        &.active {
          &.one ~ hr {
            margin-left: 0;
          }
          &.two ~ hr {
            margin-left: 25%;
          }
          &.three ~ hr {
            margin-left: 50%;
          }
          &.four ~ hr {
            margin-left: 75%;
          }
        }

        &:hover {
          &.one ~ hr {
            margin-left: 0;
          }
          &.two ~ hr {
            margin-left: 25%;
          }
          &.three ~ hr {
            margin-left: 50%;
          }
          &.four ~ hr {
            margin-left: 75%;
          }
        }
      }
    }
  }

  &.subheader {
    padding-top: 0;
    border-top: 1px solid #e9ebfe;

    .nav {
      justify-content: space-evenly;
      padding-top: 7px;
      padding-bottom: 7px;

      .nav-link {
        position: relative;
        padding: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #a2a9be;

        @include media-breakpoint-down(xs) {
          text-align: center;
        }

        &.active {
          color: $color-dark-blue;
          font-weight: bold;

          &::after {
            content: none;
          }
        }
      }
    }
  }
}
