.navigation,
.main-content {
  transition: 200ms;
  transform: initial;
}

.sidebar-show {
  .navigation,
  .main-content {
    transition: 200ms;
    transform: translate3d(300px, 0, 0);
    opacity: 1;

    @include media-breakpoint-down(sm) {
      transform: translate3d(275px, 0, 0);
    }

    @include media-breakpoint-down(xs) {
      transform: translate3d(250px, 0, 0);
    }
  }

  .sidebar {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.sidebar {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background: #fff;
  box-shadow: 0 3px 10px rgba(62, 85, 120, 0.045);
  width: 300px;
  z-index: 999;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.2s ease-in-out;
  opacity: 0;

  @include media-breakpoint-down(sm) {
    width: 275px;
  }

  @include media-breakpoint-down(xs) {
    width: 250px;
  }

  .slimScrollDiv,
  .sidebar-inner {
    height: 100% !important;
  }

  .sidebar-inner {
    padding: 75px 35px 65px;
    @include flex(space-between, stretch, column);

    @include media-breakpoint-down(lg) {
      padding: 50px 35px 50px;
    }

    @include media-breakpoint-down(sm) {
      padding: 30px 25px;
    }

    .links {
      a {
        margin-bottom: 20px;
        display: block;
        color: $color-dark-blue;
        @include font(22px, bold);
      }
    }

    .collaborators {
      margin-top: 15px;
      margin-bottom: 10px;
      @include flex(stretch, center);

      .main-user {
        width: 38px;
      }

      .plus {
        @include font(25px, 400);
        margin-left: 10px;
        margin-right: 10px;
      }

      .other-users {
        img {
          width: 35px;
          height: 35px;
        }

        img:not(:last-child) {
          margin-right: -10px;
        }
      }
    }
  }
}
