.rr-table {
  margin-bottom: 0;

  thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #e9ebfe;
    border: 0;
    @include font(12px, bold);
    color: $color-dark-blue;
    text-transform: uppercase;
  }

  tbody td,
  tbody th {
    border: 0;
    border-bottom: 1px solid #e9ebfe;
    @include font(14px, 400);
    color: $color-dark-blue;
  }

  tbody td {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
