// Colors
$color-body-background: #f5f7fc;
$color-dark-blue: #393c4e;
$color-blue: #2557e0;
$color-green: #00bea5;
$color-orange: #f7b626;
$color-red: #f73e26;
$color-gray: #b5b8c5;
$color-dark-gray: #757e83;
$color-white: #ffffff;
$color-black-text: #33475b;
$color-dark-purple: #372459;

$color-pagination-active-background: #d3ebff;

// Font/text values
$font-primary: Roboto, sans-serif;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-32: 32px;
$fs-50: 50px;
$cs-0: 0px;
$ls-13: 13px;
$ls-16: 16px;
$ls-26: 26px;
$ls-30: 30px;
$ls-110: 110px;

// Font weights
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

// Widths
$main-content-max-width: 900px;
